// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/list/main.css';


.notification-container {
    max-height: 300px;
    overflow: scroll;
    padding-bottom: 0px;
}

.notification {
    padding: 5px 15px;
    border-bottom: 1px solid #bdbdbd;

    .notification-title {
        font-weight: bold;
        font-size: 0.8em;
    }

    .notification-body {
        font-size: 0.7em;
    }

    .notification-date {
        font-size: 0.6em;
    }

    .notification-title, .notification-body {
        white-space: nowrap;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.users-show--list-container {
    font-size: 0.8em;
    height: 300px;
    overflow: hidden;
    overflow: scroll;
}

.table {
    font-size: 0.8em;
}

.app-main {
    background: #EFEFEF;
}

.app-sidemenu {
    padding: 10px;
}

.app-sidemenu-item {
    background: #ffffff;
    border-bottom: 1px solid #bdbdbd;
    padding: 15px;

    &:first-child {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top: 5px solid $primary;
    }

    &:last-child {
        border-radius: 10px;
    }
}

.app-sidemenu-avatar {
    text-align: center;

    img.avatar {
        border-radius: 50%;
        margin-bottom: 10px;
    }
}

.app-sidemenu-link {
    background: #ffffff;
    margin-top: 30px;
    border-radius: 10px;

    a.app-sidemenu-link--item {
        border-bottom: 1px solid #bdbdbd;
        display: block;
        padding: 10px;
        text-decoration: none;
        color: $dark;

        > i {
            margin-right: 10px;
        }

        &:last-child {
            border-bottom: none;
        }

        &:hover, &.active {
            background: $primary;
            color: $light;
        }
    }
}

.activity {
    padding: 20px;
    border-bottom: 1px solid $primary;
    border-radius: 10px;

    .activity--avatar-holder {
        padding: 0px;
    }

    .activity--time {
        font-size: 0.7em;
    }

    .activity--description {
        font-size: 0.8em;
        padding: 10px;
    }

    .activity--form {
        textarea {
            width: 100%;
            padding: 2px 10px;
            border: 1px solid #EFEFEF;
            font-size: 0.7em;
        }
    }

    .activity--actionable {
        font-size: 0.7em;
    }
}

.settings {
    padding: 20px;

    input,textarea {
        background: #EFEFEF;
    }

    .card {
        border: none;
        border-bottom: 1px solid $primary;
    }
}